@model Project1.Models.Attendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendance1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.Course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Std_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Std_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Teach_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Teach_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
